<!DOCTYPE html>
<html lang="en">

<head>

    <title>Auto Market</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
   <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">


                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://media.caranddriver.com/images/16q1/665019/2016-chevrolet-camaro-first-drive-review-car-and-driver-photo-665893-s-450x274.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Toyota_Corolla_Style_%282016_European_version%29.jpg/280px-Toyota_Corolla_Style_%282016_European_version%29.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://corporate.ford.com/content/dam/corporate/en/vehicles/315-bm-C1.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://st.motortrend.com/uploads/sites/10/2016/11/2017-Honda-Civic-Hatchback-Sport-Touring-front-three-quarter-in-motion-02.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Volkswagen_Jetta_2.5_sedan_1.jpg/280px-Volkswagen_Jetta_2.5_sedan_1.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="https://media.ed.edmunds-media.com/tesla/model-s/2016/oem/2016_tesla_model-s_sedan_p90d_fq_oem_1_1280.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

      <form action="click" method="POST">
        
      
      
                <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://goalphaauto.com/wp-content/uploads/2016/06/2017-Toyota-Camry-side.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$20,000</h4>
                                <h4><input type="submit" value="Toyota Camry" name="car">
                                </h4>
                                <p>Affordable for the year.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://images.techtimes.com/data/images/full/275108/tesla-model-x.png" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$72,000</h4>
                                <h4><input type="submit" value="Tesla Model X" name="car">
                                </h4>
                                <p>Good Price Low Mileage</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://buyersguide.caranddriver.com/media/assets/submodel/7310.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$90,500</h4>
                                <h4><input type="submit" value="Lexus LC" name="car">
                                </h4>
                                <p>Good Price Nice Interior.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://st.motortrend.com/uploads/sites/5/2016/12/2017-Ford-GT-front-three-quarters-in-motion-e1481056835424.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$425,000</h4>
                                <h4><input type="submit" value="Ford GT" name="car">
                                </h4>
                                <p>Fast Fun to drive.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://bombomcar.net/wp-content/uploads/2016/11/mitsubishi-eclipse-mitsubishi-eclipse-reviews-research-new-used-models-motor-trend.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$8,000</h4>
                                <h4><input type="submit" value="Mitsubishi Eclipse" name="car">
                                </h4>
                                <p>Cheap Great Mileage.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://s3.caradvice.com.au/thumb/800/500/wp-content/uploads/2016/05/2017-Audi-R8-11.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$145,000</h4>
                                <h4><input type="submit" value="Audi R8" name="car">
                                </h4>
                                <p>Good Handling.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div> 

            </div>

        </div>

    </div>

  </form>
    <!-- /.container -->

    <div class="container">

        <hr>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
